-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."CommercialSiteKind" AS ENUM ('SALES_POINT', 'FACTORY');

-- CreateEnum
CREATE TYPE "public"."CustomerResidency" AS ENUM ('LOCAL', 'OVERSEAS');

-- CreateEnum
CREATE TYPE "public"."FinancialYearStatus" AS ENUM ('OPEN', 'CLOSED');

-- CreateEnum
CREATE TYPE "public"."PaymentMethodKind" AS ENUM ('SIMPLE', 'CHEQUE', 'TRAITE', 'CREDIT');

-- CreateEnum
CREATE TYPE "public"."PosSaleProductMode" AS ENUM ('LOOSE', 'BOTTLE');

-- CreateEnum
CREATE TYPE "public"."StockCondition" AS ENUM ('SELLABLE', 'UNSELLABLE');

-- CreateEnum
CREATE TYPE "public"."StockDocStatus" AS ENUM ('DRAFT', 'POSTED', 'DISPATCHED', 'RECEIVED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."StockMovementKind" AS ENUM ('RECEIPT', 'TRANSFER_OUT', 'TRANSFER_IN', 'SALE', 'SALE_REVERSAL', 'ADJUSTMENT');

-- CreateEnum
CREATE TYPE "public"."TaxRateVariant" AS ENUM ('DEFAULT', 'SIMPLIFIED', 'REAL', 'NO_TAXPAYER_ID');

-- CreateEnum
CREATE TYPE "public"."TaxRegimeKind" AS ENUM ('SIMPLIFIED', 'REAL');

-- CreateEnum
CREATE TYPE "public"."UiThemePreset" AS ENUM ('default', 'agro');

-- CreateEnum
CREATE TYPE "public"."UserRole" AS ENUM ('ADMIN', 'DIRECTOR', 'MANAGER', 'OFFICER', 'SENIOR_SUPERVISOR', 'SUPERVISOR', 'CLERK');

-- CreateEnum
CREATE TYPE "public"."ValidationStatus" AS ENUM ('PENDING', 'VALIDATED', 'REJECTED');

-- CreateTable
CREATE TABLE "public"."AuthSession" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AuthSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CommercialInvoiceSequence" (
    "commercialServiceId" TEXT NOT NULL,
    "calendarYear" INTEGER NOT NULL,
    "nextNumber" INTEGER NOT NULL DEFAULT 1,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CommercialInvoiceSequence_pkey" PRIMARY KEY ("commercialServiceId","calendarYear")
);

-- CreateTable
CREATE TABLE "public"."CommercialService" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "invoicePrefix" TEXT NOT NULL,
    "phone" TEXT,
    "address" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "siteKind" "public"."CommercialSiteKind" NOT NULL DEFAULT 'SALES_POINT',
    "enabledModules" JSONB NOT NULL DEFAULT '[]',

    CONSTRAINT "CommercialService_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CommercialServiceRole" (
    "id" TEXT NOT NULL,
    "commercialServiceId" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "requiresFixedPostingSite" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "CommercialServiceRole_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CommercialServiceRolePermission" (
    "id" TEXT NOT NULL,
    "commercialServiceRoleId" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "allowed" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CommercialServiceRolePermission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CompanySettings" (
    "id" TEXT NOT NULL DEFAULT 'default',
    "companyName" TEXT NOT NULL,
    "department" TEXT,
    "vatRate" DECIMAL(5,4) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "fiscalYearStartMonth" INTEGER NOT NULL DEFAULT 1,
    "logoUrl" TEXT,
    "uiThemePreset" "public"."UiThemePreset" NOT NULL DEFAULT 'default',

    CONSTRAINT "CompanySettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Customer" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "email" TEXT,
    "address" TEXT,
    "taxRegimeId" TEXT,
    "taxpayerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "residency" "public"."CustomerResidency" NOT NULL DEFAULT 'LOCAL',
    "hasTaxpayerId" BOOLEAN NOT NULL DEFAULT false,
    "commercialServiceId" TEXT NOT NULL,
    "customerTypeId" TEXT NOT NULL,

    CONSTRAINT "Customer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CustomerTypeDefinition" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isSystem" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomerTypeDefinition_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DeliveryOrder" (
    "id" SERIAL NOT NULL,
    "deliveryOrderNo" TEXT NOT NULL,
    "dateIssued" TIMESTAMP(3) NOT NULL,
    "customerId" TEXT NOT NULL,
    "orderRef" TEXT,
    "salesPointId" INTEGER NOT NULL,
    "financialYear" INTEGER,
    "financialMonth" INTEGER,
    "createdByUserId" TEXT,
    "status" "public"."ValidationStatus" NOT NULL DEFAULT 'PENDING',
    "validatedAt" TIMESTAMP(3),
    "validatedByUserId" TEXT,
    "postingCalendarYear" INTEGER,
    "commercialServiceId" TEXT,
    "issuerPhoneSnapshot" TEXT,
    "issuerAddressSnapshot" TEXT,
    "commercialServiceNameSnapshot" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "reviewedByUserId" TEXT,
    "cancelledAt" TIMESTAMP(3),
    "cancelledByUserId" TEXT,
    "cancelReason" TEXT,

    CONSTRAINT "DeliveryOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DeliveryOrderDetails" (
    "id" SERIAL NOT NULL,
    "deliveryOrderId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "orderQty" INTEGER NOT NULL,
    "orderUnit" TEXT,
    "unitPrice" DECIMAL(14,2),
    "amount" DECIMAL(14,2),
    "lineSubtotalExTax" DECIMAL(14,2),
    "vatRate" DECIMAL(5,4),
    "vatAmount" DECIMAL(14,2),
    "otherTaxLabel" TEXT,
    "otherTaxAmount" DECIMAL(14,2),

    CONSTRAINT "DeliveryOrderDetails_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DeliveryOrderPaymentDetails" (
    "id" SERIAL NOT NULL,
    "deliveryOrderId" INTEGER NOT NULL,
    "paymentDate" TIMESTAMP(3) NOT NULL,
    "chequeNo" TEXT,
    "bank" TEXT,
    "cashReceiptNo" TEXT,
    "receiptDate" TIMESTAMP(3),
    "paymentMethodId" TEXT NOT NULL,

    CONSTRAINT "DeliveryOrderPaymentDetails_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DeliveryOrderSequence" (
    "id" TEXT NOT NULL DEFAULT 'default',
    "nextNumber" INTEGER NOT NULL DEFAULT 1,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DeliveryOrderSequence_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Employee" (
    "id" TEXT NOT NULL,
    "matricule" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "estate" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Employee_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Factory" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "commercialServiceId" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Factory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."FinancialYearPeriod" (
    "id" TEXT NOT NULL,
    "financialYear" INTEGER NOT NULL,
    "status" "public"."FinancialYearStatus" NOT NULL DEFAULT 'OPEN',
    "openedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closedAt" TIMESTAMP(3),
    "startDate" DATE NOT NULL,
    "endDate" DATE NOT NULL,

    CONSTRAINT "FinancialYearPeriod_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."GlobalRoleDefinition" (
    "displayName" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "legacyRole" "public"."UserRole",

    CONSTRAINT "GlobalRoleDefinition_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."GlobalRolePermission" (
    "id" TEXT NOT NULL,
    "globalRoleDefinitionId" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "allowed" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GlobalRolePermission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Mill" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Mill_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."MobileRefreshToken" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "deviceLabel" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MobileRefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Payment" (
    "id" TEXT NOT NULL,
    "saleId" TEXT NOT NULL,
    "amount" DECIMAL(14,2) NOT NULL,
    "chequeNo" TEXT,
    "paidAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "bank" TEXT,
    "traiteNo" TEXT,
    "traiteIssuedOn" DATE,
    "traiteMaturityOn" DATE,
    "paymentMethodId" TEXT NOT NULL,

    CONSTRAINT "Payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PaymentMethodDefinition" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "kind" "public"."PaymentMethodKind" NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isSystem" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PaymentMethodDefinition_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Product" (
    "productId" SERIAL NOT NULL,
    "productName" TEXT NOT NULL,
    "productCode" TEXT,
    "productCatId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "commercialServiceId" TEXT,
    "uom" TEXT NOT NULL DEFAULT 'Kg',

    CONSTRAINT "Product_pkey" PRIMARY KEY ("productId")
);

-- CreateTable
CREATE TABLE "public"."ProductCat" (
    "productCatId" SERIAL NOT NULL,
    "productCat" TEXT NOT NULL,
    "productCode" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "isMain" BOOLEAN NOT NULL DEFAULT false,
    "isBottled" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "ProductCat_pkey" PRIMARY KEY ("productCatId")
);

-- CreateTable
CREATE TABLE "public"."ProductSalesBudget" (
    "id" TEXT NOT NULL,
    "financialYear" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "annualQtyKg" DECIMAL(14,3) NOT NULL,
    "budgetUnitPricePerKg" DECIMAL(14,2) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductSalesBudget_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ProductSalesBudgetMonthPhaseProfile" (
    "id" TEXT NOT NULL,
    "financialYear" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "pctM01" DECIMAL(10,6) NOT NULL,
    "pctM02" DECIMAL(10,6) NOT NULL,
    "pctM03" DECIMAL(10,6) NOT NULL,
    "pctM04" DECIMAL(10,6) NOT NULL,
    "pctM05" DECIMAL(10,6) NOT NULL,
    "pctM06" DECIMAL(10,6) NOT NULL,
    "pctM07" DECIMAL(10,6) NOT NULL,
    "pctM08" DECIMAL(10,6) NOT NULL,
    "pctM09" DECIMAL(10,6) NOT NULL,
    "pctM10" DECIMAL(10,6) NOT NULL,
    "pctM11" DECIMAL(10,6) NOT NULL,
    "pctM12" DECIMAL(10,6) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductSalesBudgetMonthPhaseProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ProductUnitPriceSchedule" (
    "id" TEXT NOT NULL,
    "productId" INTEGER NOT NULL,
    "unitPriceExTax" DECIMAL(14,2) NOT NULL,
    "effectiveFrom" DATE NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "customerTypeId" TEXT,

    CONSTRAINT "ProductUnitPriceSchedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RolePermission" (
    "id" TEXT NOT NULL,
    "role" "public"."UserRole" NOT NULL,
    "key" TEXT NOT NULL,
    "allowed" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RolePermission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Sale" (
    "id" TEXT NOT NULL,
    "invoiceNo" TEXT NOT NULL,
    "soldAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "customerId" TEXT NOT NULL,
    "createdByUserId" TEXT NOT NULL,
    "customerNameSnapshot" TEXT NOT NULL,
    "taxRegimeId" TEXT,
    "vatRateSnapshot" DECIMAL(5,4) NOT NULL,
    "netAmount" DECIMAL(14,2) NOT NULL,
    "vatAmount" DECIMAL(14,2) NOT NULL,
    "grossAmount" DECIMAL(14,2) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "financialYear" INTEGER,
    "financialMonth" INTEGER,
    "referenceNumber" TEXT,
    "salesPointId" INTEGER,
    "status" "public"."ValidationStatus" NOT NULL DEFAULT 'PENDING',
    "validatedAt" TIMESTAMP(3),
    "validatedByUserId" TEXT,
    "vehicleNumber" TEXT NOT NULL,
    "dateIssued" TIMESTAMP(3) NOT NULL,
    "deliveryOrderNo" TEXT,
    "postingCalendarYear" INTEGER,
    "commercialServiceId" TEXT,
    "issuerPhoneSnapshot" TEXT,
    "issuerAddressSnapshot" TEXT,
    "commercialServiceNameSnapshot" TEXT,
    "saleProductMode" "public"."PosSaleProductMode",

    CONSTRAINT "Sale_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SaleAppliedTax" (
    "id" TEXT NOT NULL,
    "saleId" TEXT NOT NULL,
    "taxTypeId" TEXT,
    "codeSnapshot" TEXT NOT NULL,
    "labelSnapshot" TEXT NOT NULL,
    "rateSnapshot" DECIMAL(5,4) NOT NULL,
    "amount" DECIMAL(14,2) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SaleAppliedTax_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SaleLine" (
    "id" TEXT NOT NULL,
    "saleId" TEXT NOT NULL,
    "productId" INTEGER NOT NULL,
    "qtyKg" DECIMAL(14,3) NOT NULL,
    "unitPricePerKg" DECIMAL(14,2) NOT NULL,
    "lineNet" DECIMAL(14,2) NOT NULL,
    "lineVat" DECIMAL(14,2) NOT NULL,
    "lineGross" DECIMAL(14,2) NOT NULL,
    "qtyUnits" DECIMAL(14,3),
    "unitPricePerUnit" DECIMAL(14,2),
    "storageLocationId" INTEGER,

    CONSTRAINT "SaleLine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SalesPoint" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "millId" INTEGER,

    CONSTRAINT "SalesPoint_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockAdjustment" (
    "id" TEXT NOT NULL,
    "adjustmentNo" TEXT NOT NULL,
    "salesPointId" INTEGER NOT NULL,
    "occurredAt" DATE NOT NULL,
    "reason" TEXT NOT NULL,
    "status" "public"."StockDocStatus" NOT NULL DEFAULT 'DRAFT',
    "createdByUserId" TEXT NOT NULL,
    "postedByUserId" TEXT,
    "postedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockAdjustment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockAdjustmentLine" (
    "id" TEXT NOT NULL,
    "adjustmentId" TEXT NOT NULL,
    "productId" INTEGER NOT NULL,
    "deltaQty" DECIMAL(14,3) NOT NULL,
    "storageLocationId" INTEGER NOT NULL,
    "fromCondition" "public"."StockCondition",
    "toCondition" "public"."StockCondition",

    CONSTRAINT "StockAdjustmentLine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockAdjustmentSequence" (
    "calendarYear" INTEGER NOT NULL,
    "nextNumber" INTEGER NOT NULL DEFAULT 1,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockAdjustmentSequence_pkey" PRIMARY KEY ("calendarYear")
);

-- CreateTable
CREATE TABLE "public"."StockBalance" (
    "salesPointId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "qty" DECIMAL(14,3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "storageLocationId" INTEGER NOT NULL,
    "condition" "public"."StockCondition" NOT NULL DEFAULT 'SELLABLE',

    CONSTRAINT "StockBalance_pkey" PRIMARY KEY ("salesPointId","productId","storageLocationId","condition")
);

-- CreateTable
CREATE TABLE "public"."StockMovement" (
    "id" TEXT NOT NULL,
    "salesPointId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "kind" "public"."StockMovementKind" NOT NULL,
    "qty" DECIMAL(14,3) NOT NULL,
    "occurredAt" TIMESTAMP(3) NOT NULL,
    "userId" TEXT NOT NULL,
    "sourceKind" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "storageLocationId" INTEGER NOT NULL,
    "condition" "public"."StockCondition" NOT NULL DEFAULT 'SELLABLE',

    CONSTRAINT "StockMovement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockReceipt" (
    "id" TEXT NOT NULL,
    "receiptNo" TEXT NOT NULL,
    "salesPointId" INTEGER NOT NULL,
    "receivedAt" DATE NOT NULL,
    "supplierLabel" TEXT NOT NULL,
    "status" "public"."StockDocStatus" NOT NULL DEFAULT 'DRAFT',
    "notes" TEXT,
    "createdByUserId" TEXT NOT NULL,
    "postedByUserId" TEXT,
    "postedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockReceipt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockReceiptLine" (
    "id" TEXT NOT NULL,
    "receiptId" TEXT NOT NULL,
    "productId" INTEGER NOT NULL,
    "qty" DECIMAL(14,3) NOT NULL,
    "storageLocationId" INTEGER NOT NULL,

    CONSTRAINT "StockReceiptLine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockReceiptSequence" (
    "calendarYear" INTEGER NOT NULL,
    "nextNumber" INTEGER NOT NULL DEFAULT 1,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockReceiptSequence_pkey" PRIMARY KEY ("calendarYear")
);

-- CreateTable
CREATE TABLE "public"."StockTransfer" (
    "id" TEXT NOT NULL,
    "transferNo" TEXT NOT NULL,
    "fromSalesPointId" INTEGER NOT NULL,
    "toSalesPointId" INTEGER NOT NULL,
    "dispatchedAt" DATE,
    "receivedAt" DATE,
    "status" "public"."StockDocStatus" NOT NULL DEFAULT 'DRAFT',
    "notes" TEXT,
    "createdByUserId" TEXT NOT NULL,
    "dispatchedByUserId" TEXT,
    "receivedByUserId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockTransfer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockTransferLine" (
    "id" TEXT NOT NULL,
    "transferId" TEXT NOT NULL,
    "productId" INTEGER NOT NULL,
    "qty" DECIMAL(14,3) NOT NULL,
    "fromStorageLocationId" INTEGER NOT NULL,
    "toStorageLocationId" INTEGER,

    CONSTRAINT "StockTransferLine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockTransferSequence" (
    "calendarYear" INTEGER NOT NULL,
    "nextNumber" INTEGER NOT NULL DEFAULT 1,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockTransferSequence_pkey" PRIMARY KEY ("calendarYear")
);

-- CreateTable
CREATE TABLE "public"."StorageLocation" (
    "id" SERIAL NOT NULL,
    "salesPointId" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "isSellable" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "StorageLocation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TaxRateSchedule" (
    "id" TEXT NOT NULL,
    "taxTypeId" TEXT NOT NULL,
    "rate" DECIMAL(5,4) NOT NULL,
    "effectiveFrom" DATE NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "variant" "public"."TaxRateVariant" NOT NULL DEFAULT 'DEFAULT',

    CONSTRAINT "TaxRateSchedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TaxRegime" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "vatApplies" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "kind" "public"."TaxRegimeKind" NOT NULL DEFAULT 'SIMPLIFIED',
    "commercialServiceId" TEXT,

    CONSTRAINT "TaxRegime_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TaxRegimeTax" (
    "taxRegimeId" TEXT NOT NULL,
    "taxTypeId" TEXT NOT NULL,

    CONSTRAINT "TaxRegimeTax_pkey" PRIMARY KEY ("taxRegimeId","taxTypeId")
);

-- CreateTable
CREATE TABLE "public"."TaxType" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TaxType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" "public"."UserRole" NOT NULL DEFAULT 'CLERK',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "username" TEXT NOT NULL,
    "passwordPlain" TEXT,
    "salesPointId" INTEGER,
    "passwordHash" TEXT,
    "service" TEXT,
    "commercialServiceId" TEXT,
    "commercialServiceRoleId" TEXT,
    "factoryId" TEXT,
    "globalRoleDefinitionId" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."VehicleConsignmentNote" (
    "id" TEXT NOT NULL,
    "consignmentNoteNo" TEXT NOT NULL,
    "saleId" TEXT NOT NULL,
    "destination" TEXT NOT NULL,
    "dateOfLifting" DATE NOT NULL,
    "vehicleNumber" TEXT NOT NULL,
    "consignerName" TEXT NOT NULL,
    "dateOfConsignment" DATE NOT NULL,
    "receiverName" TEXT NOT NULL,
    "receiverNicNo" TEXT NOT NULL,
    "receiverNicPlaceOfIssue" TEXT NOT NULL,
    "receivedDate" DATE,
    "status" "public"."ValidationStatus" NOT NULL DEFAULT 'PENDING',
    "validatedAt" TIMESTAMP(3),
    "validatedByUserId" TEXT,
    "createdByUserId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "consignerDesignation" TEXT NOT NULL,

    CONSTRAINT "VehicleConsignmentNote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."VehicleConsignmentNoteSequence" (
    "id" TEXT NOT NULL DEFAULT 'default',
    "nextNumber" INTEGER NOT NULL DEFAULT 1,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleConsignmentNoteSequence_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "AuthSession_expiresAt_idx" ON "public"."AuthSession"("expiresAt" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "AuthSession_tokenHash_key" ON "public"."AuthSession"("tokenHash" ASC);

-- CreateIndex
CREATE INDEX "AuthSession_userId_idx" ON "public"."AuthSession"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CommercialService_code_key" ON "public"."CommercialService"("code" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CommercialService_invoicePrefix_key" ON "public"."CommercialService"("invoicePrefix" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CommercialServiceRole_commercialServiceId_code_key" ON "public"."CommercialServiceRole"("commercialServiceId" ASC, "code" ASC);

-- CreateIndex
CREATE INDEX "CommercialServiceRole_commercialServiceId_isActive_idx" ON "public"."CommercialServiceRole"("commercialServiceId" ASC, "isActive" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CommercialServiceRolePermission_commercialServiceRoleId_key_key" ON "public"."CommercialServiceRolePermission"("commercialServiceRoleId" ASC, "key" ASC);

-- CreateIndex
CREATE INDEX "CommercialServiceRolePermission_key_idx" ON "public"."CommercialServiceRolePermission"("key" ASC);

-- CreateIndex
CREATE INDEX "Customer_commercialServiceId_idx" ON "public"."Customer"("commercialServiceId" ASC);

-- CreateIndex
CREATE INDEX "Customer_customerTypeId_idx" ON "public"."Customer"("customerTypeId" ASC);

-- CreateIndex
CREATE INDEX "Customer_name_idx" ON "public"."Customer"("name" ASC);

-- CreateIndex
CREATE INDEX "Customer_taxRegimeId_idx" ON "public"."Customer"("taxRegimeId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CustomerTypeDefinition_code_key" ON "public"."CustomerTypeDefinition"("code" ASC);

-- CreateIndex
CREATE INDEX "CustomerTypeDefinition_isActive_sortOrder_idx" ON "public"."CustomerTypeDefinition"("isActive" ASC, "sortOrder" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_commercialServiceId_idx" ON "public"."DeliveryOrder"("commercialServiceId" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_customerId_idx" ON "public"."DeliveryOrder"("customerId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "DeliveryOrder_deliveryOrderNo_key" ON "public"."DeliveryOrder"("deliveryOrderNo" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_financialYear_postingCalendarYear_financialMo_idx" ON "public"."DeliveryOrder"("financialYear" ASC, "postingCalendarYear" ASC, "financialMonth" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_salesPointId_idx" ON "public"."DeliveryOrder"("salesPointId" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_status_cancelledAt_idx" ON "public"."DeliveryOrder"("status" ASC, "cancelledAt" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_status_dateIssued_idx" ON "public"."DeliveryOrder"("status" ASC, "dateIssued" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_status_reviewedAt_idx" ON "public"."DeliveryOrder"("status" ASC, "reviewedAt" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrderDetails_deliveryOrderId_idx" ON "public"."DeliveryOrderDetails"("deliveryOrderId" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrderPaymentDetails_deliveryOrderId_idx" ON "public"."DeliveryOrderPaymentDetails"("deliveryOrderId" ASC);

-- CreateIndex
CREATE INDEX "Employee_estate_idx" ON "public"."Employee"("estate" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Employee_matricule_key" ON "public"."Employee"("matricule" ASC);

-- CreateIndex
CREATE INDEX "Employee_name_idx" ON "public"."Employee"("name" ASC);

-- CreateIndex
CREATE INDEX "Factory_commercialServiceId_isActive_idx" ON "public"."Factory"("commercialServiceId" ASC, "isActive" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Factory_commercialServiceId_name_key" ON "public"."Factory"("commercialServiceId" ASC, "name" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "FinancialYearPeriod_financialYear_key" ON "public"."FinancialYearPeriod"("financialYear" ASC);

-- CreateIndex
CREATE INDEX "FinancialYearPeriod_status_idx" ON "public"."FinancialYearPeriod"("status" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "GlobalRoleDefinition_code_key" ON "public"."GlobalRoleDefinition"("code" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "GlobalRoleDefinition_legacyRole_key" ON "public"."GlobalRoleDefinition"("legacyRole" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "GlobalRolePermission_globalRoleDefinitionId_key_key" ON "public"."GlobalRolePermission"("globalRoleDefinitionId" ASC, "key" ASC);

-- CreateIndex
CREATE INDEX "GlobalRolePermission_key_idx" ON "public"."GlobalRolePermission"("key" ASC);

-- CreateIndex
CREATE INDEX "MobileRefreshToken_expiresAt_idx" ON "public"."MobileRefreshToken"("expiresAt" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "MobileRefreshToken_tokenHash_key" ON "public"."MobileRefreshToken"("tokenHash" ASC);

-- CreateIndex
CREATE INDEX "MobileRefreshToken_userId_idx" ON "public"."MobileRefreshToken"("userId" ASC);

-- CreateIndex
CREATE INDEX "Payment_paymentMethodId_paidAt_idx" ON "public"."Payment"("paymentMethodId" ASC, "paidAt" ASC);

-- CreateIndex
CREATE INDEX "Payment_saleId_idx" ON "public"."Payment"("saleId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "PaymentMethodDefinition_code_key" ON "public"."PaymentMethodDefinition"("code" ASC);

-- CreateIndex
CREATE INDEX "PaymentMethodDefinition_isActive_sortOrder_idx" ON "public"."PaymentMethodDefinition"("isActive" ASC, "sortOrder" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ProductCat_isBottled_unique" ON "public"."ProductCat"("isBottled" ASC) WHERE ("isBottled" = true);

-- CreateIndex
CREATE UNIQUE INDEX "ProductCat_isMain_unique" ON "public"."ProductCat"("isMain" ASC) WHERE ("isMain" = true);

-- CreateIndex
CREATE INDEX "ProductSalesBudget_financialYear_idx" ON "public"."ProductSalesBudget"("financialYear" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ProductSalesBudget_financialYear_productId_key" ON "public"."ProductSalesBudget"("financialYear" ASC, "productId" ASC);

-- CreateIndex
CREATE INDEX "ProductSalesBudgetMonthPhaseProfile_financialYear_idx" ON "public"."ProductSalesBudgetMonthPhaseProfile"("financialYear" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ProductSalesBudgetMonthPhaseProfile_financialYear_productId_key" ON "public"."ProductSalesBudgetMonthPhaseProfile"("financialYear" ASC, "productId" ASC);

-- CreateIndex
CREATE INDEX "ProductUnitPriceSchedule_customerTypeId_idx" ON "public"."ProductUnitPriceSchedule"("customerTypeId" ASC);

-- CreateIndex
CREATE INDEX "ProductUnitPriceSchedule_productId_effectiveFrom_idx" ON "public"."ProductUnitPriceSchedule"("productId" ASC, "effectiveFrom" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ProductUnitPriceSchedule_product_customer_effective_key" ON "public"."ProductUnitPriceSchedule"("productId" ASC, "customerTypeId" ASC, "effectiveFrom" ASC) WHERE ("customerTypeId" IS NOT NULL);

-- CreateIndex
CREATE UNIQUE INDEX "ProductUnitPriceSchedule_product_effective_direct_key" ON "public"."ProductUnitPriceSchedule"("productId" ASC, "effectiveFrom" ASC) WHERE ("customerTypeId" IS NULL);

-- CreateIndex
CREATE INDEX "RolePermission_key_idx" ON "public"."RolePermission"("key" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "RolePermission_role_key_key" ON "public"."RolePermission"("role" ASC, "key" ASC);

-- CreateIndex
CREATE INDEX "Sale_commercialServiceId_idx" ON "public"."Sale"("commercialServiceId" ASC);

-- CreateIndex
CREATE INDEX "Sale_createdByUserId_soldAt_idx" ON "public"."Sale"("createdByUserId" ASC, "soldAt" ASC);

-- CreateIndex
CREATE INDEX "Sale_customerId_soldAt_idx" ON "public"."Sale"("customerId" ASC, "soldAt" ASC);

-- CreateIndex
CREATE INDEX "Sale_deliveryOrderNo_idx" ON "public"."Sale"("deliveryOrderNo" ASC);

-- CreateIndex
CREATE INDEX "Sale_financialYear_postingCalendarYear_financialMonth_idx" ON "public"."Sale"("financialYear" ASC, "postingCalendarYear" ASC, "financialMonth" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Sale_invoiceNo_key" ON "public"."Sale"("invoiceNo" ASC);

-- CreateIndex
CREATE INDEX "Sale_soldAt_idx" ON "public"."Sale"("soldAt" ASC);

-- CreateIndex
CREATE INDEX "Sale_status_soldAt_idx" ON "public"."Sale"("status" ASC, "soldAt" ASC);

-- CreateIndex
CREATE INDEX "Sale_taxRegimeId_soldAt_idx" ON "public"."Sale"("taxRegimeId" ASC, "soldAt" ASC);

-- CreateIndex
CREATE INDEX "SaleAppliedTax_saleId_idx" ON "public"."SaleAppliedTax"("saleId" ASC);

-- CreateIndex
CREATE INDEX "SaleLine_productId_idx" ON "public"."SaleLine"("productId" ASC);

-- CreateIndex
CREATE INDEX "SaleLine_saleId_idx" ON "public"."SaleLine"("saleId" ASC);

-- CreateIndex
CREATE INDEX "SaleLine_storageLocationId_idx" ON "public"."SaleLine"("storageLocationId" ASC);

-- CreateIndex
CREATE INDEX "SalesPoint_millId_idx" ON "public"."SalesPoint"("millId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StockAdjustment_adjustmentNo_key" ON "public"."StockAdjustment"("adjustmentNo" ASC);

-- CreateIndex
CREATE INDEX "StockAdjustment_salesPointId_occurredAt_idx" ON "public"."StockAdjustment"("salesPointId" ASC, "occurredAt" ASC);

-- CreateIndex
CREATE INDEX "StockAdjustment_status_occurredAt_idx" ON "public"."StockAdjustment"("status" ASC, "occurredAt" ASC);

-- CreateIndex
CREATE INDEX "StockAdjustmentLine_adjustmentId_idx" ON "public"."StockAdjustmentLine"("adjustmentId" ASC);

-- CreateIndex
CREATE INDEX "StockAdjustmentLine_productId_idx" ON "public"."StockAdjustmentLine"("productId" ASC);

-- CreateIndex
CREATE INDEX "StockAdjustmentLine_storageLocationId_idx" ON "public"."StockAdjustmentLine"("storageLocationId" ASC);

-- CreateIndex
CREATE INDEX "StockBalance_productId_idx" ON "public"."StockBalance"("productId" ASC);

-- CreateIndex
CREATE INDEX "StockBalance_storageLocationId_idx" ON "public"."StockBalance"("storageLocationId" ASC);

-- CreateIndex
CREATE INDEX "StockMovement_occurredAt_idx" ON "public"."StockMovement"("occurredAt" ASC);

-- CreateIndex
CREATE INDEX "StockMovement_salesPointId_productId_occurredAt_idx" ON "public"."StockMovement"("salesPointId" ASC, "productId" ASC, "occurredAt" ASC);

-- CreateIndex
CREATE INDEX "StockMovement_sourceKind_sourceId_idx" ON "public"."StockMovement"("sourceKind" ASC, "sourceId" ASC);

-- CreateIndex
CREATE INDEX "StockMovement_storageLocationId_productId_idx" ON "public"."StockMovement"("storageLocationId" ASC, "productId" ASC);

-- CreateIndex
CREATE INDEX "StockMovement_userId_occurredAt_idx" ON "public"."StockMovement"("userId" ASC, "occurredAt" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StockReceipt_receiptNo_key" ON "public"."StockReceipt"("receiptNo" ASC);

-- CreateIndex
CREATE INDEX "StockReceipt_salesPointId_receivedAt_idx" ON "public"."StockReceipt"("salesPointId" ASC, "receivedAt" ASC);

-- CreateIndex
CREATE INDEX "StockReceipt_status_receivedAt_idx" ON "public"."StockReceipt"("status" ASC, "receivedAt" ASC);

-- CreateIndex
CREATE INDEX "StockReceiptLine_productId_idx" ON "public"."StockReceiptLine"("productId" ASC);

-- CreateIndex
CREATE INDEX "StockReceiptLine_receiptId_idx" ON "public"."StockReceiptLine"("receiptId" ASC);

-- CreateIndex
CREATE INDEX "StockReceiptLine_storageLocationId_idx" ON "public"."StockReceiptLine"("storageLocationId" ASC);

-- CreateIndex
CREATE INDEX "StockTransfer_fromSalesPointId_status_idx" ON "public"."StockTransfer"("fromSalesPointId" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "StockTransfer_status_dispatchedAt_idx" ON "public"."StockTransfer"("status" ASC, "dispatchedAt" ASC);

-- CreateIndex
CREATE INDEX "StockTransfer_toSalesPointId_status_idx" ON "public"."StockTransfer"("toSalesPointId" ASC, "status" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StockTransfer_transferNo_key" ON "public"."StockTransfer"("transferNo" ASC);

-- CreateIndex
CREATE INDEX "StockTransferLine_productId_idx" ON "public"."StockTransferLine"("productId" ASC);

-- CreateIndex
CREATE INDEX "StockTransferLine_transferId_idx" ON "public"."StockTransferLine"("transferId" ASC);

-- CreateIndex
CREATE INDEX "StorageLocation_salesPointId_idx" ON "public"."StorageLocation"("salesPointId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StorageLocation_salesPointId_name_key" ON "public"."StorageLocation"("salesPointId" ASC, "name" ASC);

-- CreateIndex
CREATE INDEX "TaxRateSchedule_taxTypeId_effectiveFrom_idx" ON "public"."TaxRateSchedule"("taxTypeId" ASC, "effectiveFrom" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TaxRateSchedule_taxTypeId_effectiveFrom_variant_key" ON "public"."TaxRateSchedule"("taxTypeId" ASC, "effectiveFrom" ASC, "variant" ASC);

-- CreateIndex
CREATE INDEX "TaxRegime_commercialServiceId_idx" ON "public"."TaxRegime"("commercialServiceId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TaxRegime_commercialServiceId_name_key" ON "public"."TaxRegime"("commercialServiceId" ASC, "name" ASC);

-- CreateIndex
CREATE INDEX "TaxRegimeTax_taxTypeId_idx" ON "public"."TaxRegimeTax"("taxTypeId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TaxType_code_key" ON "public"."TaxType"("code" ASC);

-- CreateIndex
CREATE INDEX "User_commercialServiceId_idx" ON "public"."User"("commercialServiceId" ASC);

-- CreateIndex
CREATE INDEX "User_commercialServiceRoleId_idx" ON "public"."User"("commercialServiceRoleId" ASC);

-- CreateIndex
CREATE INDEX "User_factoryId_idx" ON "public"."User"("factoryId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "public"."User"("username" ASC);

-- CreateIndex
CREATE INDEX "VehicleConsignmentNote_consignmentNoteNo_idx" ON "public"."VehicleConsignmentNote"("consignmentNoteNo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "VehicleConsignmentNote_consignmentNoteNo_key" ON "public"."VehicleConsignmentNote"("consignmentNoteNo" ASC);

-- CreateIndex
CREATE INDEX "VehicleConsignmentNote_saleId_idx" ON "public"."VehicleConsignmentNote"("saleId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "VehicleConsignmentNote_saleId_key" ON "public"."VehicleConsignmentNote"("saleId" ASC);

-- CreateIndex
CREATE INDEX "VehicleConsignmentNote_status_idx" ON "public"."VehicleConsignmentNote"("status" ASC);

-- AddForeignKey
ALTER TABLE "public"."AuthSession" ADD CONSTRAINT "AuthSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CommercialInvoiceSequence" ADD CONSTRAINT "CommercialInvoiceSequence_commercialServiceId_fkey" FOREIGN KEY ("commercialServiceId") REFERENCES "public"."CommercialService"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CommercialServiceRole" ADD CONSTRAINT "CommercialServiceRole_commercialServiceId_fkey" FOREIGN KEY ("commercialServiceId") REFERENCES "public"."CommercialService"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CommercialServiceRolePermission" ADD CONSTRAINT "CommercialServiceRolePermission_commercialServiceRoleId_fkey" FOREIGN KEY ("commercialServiceRoleId") REFERENCES "public"."CommercialServiceRole"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Customer" ADD CONSTRAINT "Customer_commercialServiceId_fkey" FOREIGN KEY ("commercialServiceId") REFERENCES "public"."CommercialService"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Customer" ADD CONSTRAINT "Customer_customerTypeId_fkey" FOREIGN KEY ("customerTypeId") REFERENCES "public"."CustomerTypeDefinition"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Customer" ADD CONSTRAINT "Customer_taxRegimeId_fkey" FOREIGN KEY ("taxRegimeId") REFERENCES "public"."TaxRegime"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrder" ADD CONSTRAINT "DeliveryOrder_cancelledByUserId_fkey" FOREIGN KEY ("cancelledByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrder" ADD CONSTRAINT "DeliveryOrder_commercialServiceId_fkey" FOREIGN KEY ("commercialServiceId") REFERENCES "public"."CommercialService"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrder" ADD CONSTRAINT "DeliveryOrder_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrder" ADD CONSTRAINT "DeliveryOrder_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "public"."Customer"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrder" ADD CONSTRAINT "DeliveryOrder_reviewedByUserId_fkey" FOREIGN KEY ("reviewedByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrder" ADD CONSTRAINT "DeliveryOrder_salesPointId_fkey" FOREIGN KEY ("salesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrder" ADD CONSTRAINT "DeliveryOrder_validatedByUserId_fkey" FOREIGN KEY ("validatedByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrderDetails" ADD CONSTRAINT "DeliveryOrderDetails_deliveryOrderId_fkey" FOREIGN KEY ("deliveryOrderId") REFERENCES "public"."DeliveryOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrderDetails" ADD CONSTRAINT "DeliveryOrderDetails_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrderPaymentDetails" ADD CONSTRAINT "DeliveryOrderPaymentDetails_deliveryOrderId_fkey" FOREIGN KEY ("deliveryOrderId") REFERENCES "public"."DeliveryOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrderPaymentDetails" ADD CONSTRAINT "DeliveryOrderPaymentDetails_paymentMethodId_fkey" FOREIGN KEY ("paymentMethodId") REFERENCES "public"."PaymentMethodDefinition"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Factory" ADD CONSTRAINT "Factory_commercialServiceId_fkey" FOREIGN KEY ("commercialServiceId") REFERENCES "public"."CommercialService"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."GlobalRolePermission" ADD CONSTRAINT "GlobalRolePermission_globalRoleDefinitionId_fkey" FOREIGN KEY ("globalRoleDefinitionId") REFERENCES "public"."GlobalRoleDefinition"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MobileRefreshToken" ADD CONSTRAINT "MobileRefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Payment" ADD CONSTRAINT "Payment_paymentMethodId_fkey" FOREIGN KEY ("paymentMethodId") REFERENCES "public"."PaymentMethodDefinition"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Payment" ADD CONSTRAINT "Payment_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES "public"."Sale"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Product" ADD CONSTRAINT "Product_commercialServiceId_fkey" FOREIGN KEY ("commercialServiceId") REFERENCES "public"."CommercialService"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Product" ADD CONSTRAINT "Product_productCatId_fkey" FOREIGN KEY ("productCatId") REFERENCES "public"."ProductCat"("productCatId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProductSalesBudget" ADD CONSTRAINT "ProductSalesBudget_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProductSalesBudgetMonthPhaseProfile" ADD CONSTRAINT "ProductSalesBudgetMonthPhaseProfile_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProductUnitPriceSchedule" ADD CONSTRAINT "ProductUnitPriceSchedule_customerTypeId_fkey" FOREIGN KEY ("customerTypeId") REFERENCES "public"."CustomerTypeDefinition"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProductUnitPriceSchedule" ADD CONSTRAINT "ProductUnitPriceSchedule_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Sale" ADD CONSTRAINT "Sale_commercialServiceId_fkey" FOREIGN KEY ("commercialServiceId") REFERENCES "public"."CommercialService"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Sale" ADD CONSTRAINT "Sale_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Sale" ADD CONSTRAINT "Sale_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "public"."Customer"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Sale" ADD CONSTRAINT "Sale_salesPointId_fkey" FOREIGN KEY ("salesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Sale" ADD CONSTRAINT "Sale_taxRegimeId_fkey" FOREIGN KEY ("taxRegimeId") REFERENCES "public"."TaxRegime"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Sale" ADD CONSTRAINT "Sale_validatedByUserId_fkey" FOREIGN KEY ("validatedByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SaleAppliedTax" ADD CONSTRAINT "SaleAppliedTax_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES "public"."Sale"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SaleAppliedTax" ADD CONSTRAINT "SaleAppliedTax_taxTypeId_fkey" FOREIGN KEY ("taxTypeId") REFERENCES "public"."TaxType"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SaleLine" ADD CONSTRAINT "SaleLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SaleLine" ADD CONSTRAINT "SaleLine_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES "public"."Sale"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SaleLine" ADD CONSTRAINT "SaleLine_storageLocationId_fkey" FOREIGN KEY ("storageLocationId") REFERENCES "public"."StorageLocation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SalesPoint" ADD CONSTRAINT "SalesPoint_millId_fkey" FOREIGN KEY ("millId") REFERENCES "public"."Mill"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAdjustment" ADD CONSTRAINT "StockAdjustment_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAdjustment" ADD CONSTRAINT "StockAdjustment_postedByUserId_fkey" FOREIGN KEY ("postedByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAdjustment" ADD CONSTRAINT "StockAdjustment_salesPointId_fkey" FOREIGN KEY ("salesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAdjustmentLine" ADD CONSTRAINT "StockAdjustmentLine_adjustmentId_fkey" FOREIGN KEY ("adjustmentId") REFERENCES "public"."StockAdjustment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAdjustmentLine" ADD CONSTRAINT "StockAdjustmentLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAdjustmentLine" ADD CONSTRAINT "StockAdjustmentLine_storageLocationId_fkey" FOREIGN KEY ("storageLocationId") REFERENCES "public"."StorageLocation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockBalance" ADD CONSTRAINT "StockBalance_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockBalance" ADD CONSTRAINT "StockBalance_salesPointId_fkey" FOREIGN KEY ("salesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockBalance" ADD CONSTRAINT "StockBalance_storageLocationId_fkey" FOREIGN KEY ("storageLocationId") REFERENCES "public"."StorageLocation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockMovement" ADD CONSTRAINT "StockMovement_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockMovement" ADD CONSTRAINT "StockMovement_salesPointId_fkey" FOREIGN KEY ("salesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockMovement" ADD CONSTRAINT "StockMovement_storageLocationId_fkey" FOREIGN KEY ("storageLocationId") REFERENCES "public"."StorageLocation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockMovement" ADD CONSTRAINT "StockMovement_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockReceipt" ADD CONSTRAINT "StockReceipt_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockReceipt" ADD CONSTRAINT "StockReceipt_postedByUserId_fkey" FOREIGN KEY ("postedByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockReceipt" ADD CONSTRAINT "StockReceipt_salesPointId_fkey" FOREIGN KEY ("salesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockReceiptLine" ADD CONSTRAINT "StockReceiptLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockReceiptLine" ADD CONSTRAINT "StockReceiptLine_receiptId_fkey" FOREIGN KEY ("receiptId") REFERENCES "public"."StockReceipt"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockReceiptLine" ADD CONSTRAINT "StockReceiptLine_storageLocationId_fkey" FOREIGN KEY ("storageLocationId") REFERENCES "public"."StorageLocation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockTransfer" ADD CONSTRAINT "StockTransfer_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockTransfer" ADD CONSTRAINT "StockTransfer_dispatchedByUserId_fkey" FOREIGN KEY ("dispatchedByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockTransfer" ADD CONSTRAINT "StockTransfer_fromSalesPointId_fkey" FOREIGN KEY ("fromSalesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockTransfer" ADD CONSTRAINT "StockTransfer_receivedByUserId_fkey" FOREIGN KEY ("receivedByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockTransfer" ADD CONSTRAINT "StockTransfer_toSalesPointId_fkey" FOREIGN KEY ("toSalesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockTransferLine" ADD CONSTRAINT "StockTransferLine_fromStorageLocationId_fkey" FOREIGN KEY ("fromStorageLocationId") REFERENCES "public"."StorageLocation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockTransferLine" ADD CONSTRAINT "StockTransferLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("productId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockTransferLine" ADD CONSTRAINT "StockTransferLine_toStorageLocationId_fkey" FOREIGN KEY ("toStorageLocationId") REFERENCES "public"."StorageLocation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockTransferLine" ADD CONSTRAINT "StockTransferLine_transferId_fkey" FOREIGN KEY ("transferId") REFERENCES "public"."StockTransfer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StorageLocation" ADD CONSTRAINT "StorageLocation_salesPointId_fkey" FOREIGN KEY ("salesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TaxRateSchedule" ADD CONSTRAINT "TaxRateSchedule_taxTypeId_fkey" FOREIGN KEY ("taxTypeId") REFERENCES "public"."TaxType"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TaxRegime" ADD CONSTRAINT "TaxRegime_commercialServiceId_fkey" FOREIGN KEY ("commercialServiceId") REFERENCES "public"."CommercialService"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TaxRegimeTax" ADD CONSTRAINT "TaxRegimeTax_taxRegimeId_fkey" FOREIGN KEY ("taxRegimeId") REFERENCES "public"."TaxRegime"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TaxRegimeTax" ADD CONSTRAINT "TaxRegimeTax_taxTypeId_fkey" FOREIGN KEY ("taxTypeId") REFERENCES "public"."TaxType"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_commercialServiceId_fkey" FOREIGN KEY ("commercialServiceId") REFERENCES "public"."CommercialService"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_commercialServiceRoleId_fkey" FOREIGN KEY ("commercialServiceRoleId") REFERENCES "public"."CommercialServiceRole"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_factoryId_fkey" FOREIGN KEY ("factoryId") REFERENCES "public"."Factory"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_globalRoleDefinitionId_fkey" FOREIGN KEY ("globalRoleDefinitionId") REFERENCES "public"."GlobalRoleDefinition"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_salesPointId_fkey" FOREIGN KEY ("salesPointId") REFERENCES "public"."SalesPoint"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."VehicleConsignmentNote" ADD CONSTRAINT "VehicleConsignmentNote_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."VehicleConsignmentNote" ADD CONSTRAINT "VehicleConsignmentNote_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES "public"."Sale"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."VehicleConsignmentNote" ADD CONSTRAINT "VehicleConsignmentNote_validatedByUserId_fkey" FOREIGN KEY ("validatedByUserId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

